name: Scan 5S-TES-analysis-tools

on:
  pull_request:
    # Only consider PRs that change files for this asset, including ci scripts
    paths:
      - ".github/workflows/sonar.yaml"
      - "GraphQLRunner/**"
      - "Tre-SQL-PG/**"
      - "Tre-SQL-Trino/**"
  push:
    # Only release off of release and maintenance branches for this asset
    branches:
      - "main"
    # Only consider pushes that change files for this asset, including ci scripts.
    paths:
      - ".github/workflows/sonar.yaml"
      - "GraphQLRunner/**"
      - "Tre-SQL-PG/**"
      - "Tre-SQL-Trino/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  # Cancel early on pull requests if new commits are added,
  # Don't cancel on release pushes
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  GraphQLRunner-sonar:
    uses: SwanseaUniversityMedical/workflows/.github/workflows/sonar-dotnet-7.yaml@v2.2.0-sonar-dotnet-7
    with:
      project-name: "GraphQLRunner"
      project-file: "GraphQLRunner.csproj"
      project-context: "GraphQLRunner"
      sonar-url: ${{ vars.SONAR_URL }}
    secrets:
      sonar-token: ${{ secrets.SONAR_TOKEN }}

  tre-sql-pg-sonar:
    uses: SwanseaUniversityMedical/workflows/.github/workflows/sonar-dotnet-7.yaml@v2.2.0-sonar-dotnet-7
    with:
      project-name: "tre-sql-pg"
      project-file: "Tre-SQL-PG.csproj"
      project-context: "Tre-SQL-PG"
      sonar-url: ${{ vars.SONAR_URL }}
    secrets:
      sonar-token: ${{ secrets.SONAR_TOKEN }}

  tre-sql-trino-sonar:
    uses: SwanseaUniversityMedical/workflows/.github/workflows/sonar-dotnet-7.yaml@v2.2.0-sonar-dotnet-7
    with:
      project-name: "tre-sql-trino"
      project-file: "Tre-SQL-Trino.csproj"
      project-context: "Tre-SQL-Trino"
      sonar-url: ${{ vars.SONAR_URL }}
    secrets:
      sonar-token: ${{ secrets.SONAR_TOKEN }}
